@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-serif: var(--font-playfair); /* Use for Headings */
  --font-sans: var(--font-lato); /* Use for Body text */
  --font-cursive: var(--font-cursive); /* Use for Accents */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Default to Lato */
}
